.company-info {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 320px;
  padding: 28px;
  margin-bottom: 5px;
  border-radius: 25px;
  color: $color-white;
  background-color: $color-black-russian;

  &__links-block {
    display: flex;
    flex-direction: column;

    .info-link {
      font-size: 14px;
      text-decoration: none;
      color: $color-waikawa-grey;
      padding: 10px 0;
    }

    .info-link:not(:last-child) {
      border-bottom: 1px solid $color-bunting;
    }
  }
}

.contacts-block {
  margin-bottom: 5px;

  &__title {
    margin-top: 0px;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

    .custom-input {
      display: flex;
      flex-direction: column;
      width: 150px;
      margin-bottom: 24px;

      label {
        margin-bottom: 4px;
        font-size: 12px;
        color: $color-waikawa-grey;
      }

      input {
        border: none;
        background-color: $color-black-russian;
        color: $color-white;
      }

      + .input-time {
        width: 400px;
      }
    }
  }
}
