// Colors - https://www.htmlcsscolor.com/hex

$color-waikawa-grey: #63708f;
$color-dodger-blue: #297eff;
$color-alice-blue: #eef5ff;
$color-pumpkin: #ff6b17;
$color-bunting: #283047;
$color-black-russian: #171d2d;
$color-white: #ffffff;
